<div class="mob-menu" data-menu>
    <div class="mob-wrap">
        <div class="mob-head">
            <a href="./index.html" class="mob-logo">
    <svg
        class="mob-logo-img"
        width="158"
        height="72"
        aria-label="Desert Logo"
    >
        <use href="./img/sprite.svg#icon-logo"></use>
    </svg>
</a>
    
<button type="button" class="mob-close-button" data-menu-close >
    <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
    </svg>
</button>
        </div>
        <div class="mob-content">
 <nav class="nav-menu">
            <ul class="mob-list">
                <li><a href="#desserts" class="mob-link">Солодощі</a></li>
                <li><a href="#about-us" class="mob-link">Про нас</a></li>
                <li><a href="#feedback" class="mob-link">Відгуки</a></li>
                <li><a href="#faq" class="mob-link">Часті питання</a></li>
            </ul>
            <a href="#desserts" class="btn header-btn-mob">До покупок</a>
        </nav>
   </div>
   </div>

</div>