<div class="product-modal-overlay is-closed" aria-hidden="true">
  <div
    class="product-modal"
    role="dialog"
    aria-modal="true"
    aria-labelledby="product-modal-title"
  >
    <button
      class="product-modal-close"
      type="button"
      aria-label="Закрити модальне вікно"
    >
      <svg class="close-svg" width="24" height="24">
        <use class="product-modal-close-use"></use>
      </svg>
    </button>

    <div class="product-modal-left-content">
      <div class="product-modal-img-div">
        <img
          class="product-modal-img"
          src="../img/product-modal/desktop/product-model-cake.webp"
          alt="Класичний десерт з шоколадним центром"
        />
      </div>
    </div>
    <div class="product-modal-right-content">
      <ul class="product-modal-info-list">
        <li class="product-modal-info-list-element">
          <h2
            class="product-modal-info-list-element-title"
            id="product-modal-title"
          >
            Шоколадний фондан
          </h2>
        </li>
        <li class="product-modal-info-list-element">
          <p class="product-modal-info-list-element-price">120 грн</p>
        </li>
        <li class="product-modal-info-list-element">
          <div class="product-modal-info-list-element-grade">
          </div>
        </li>
        <li class="product-modal-info-list-element">
          <p class="product-modal-info-list-element-description">
            Класичний десерт з шоколадним центром
          </p>
        </li>
        <li class="product-modal-info-list-element">
          <p class="product-modal-info-list-element-composition">
            <span class="product-modal-list-accent">Склад:</span>
            <span class="product-modal-info-list-element-composition-span"
              >вода, мука, сіль, цукор, шоколад</span
            >
          </p>
        </li>
        <li class="product-modal-info-list-element">
          <button class="product-modal-info-list-element-btn" type="button">
            Перейти до замовлення
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
