.order-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow-y: auto;

  transition:
    opacity var(--transition),
    visibility var(--transition);
}

.order-modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.order-modal-box {
  position: relative;
  width: 335px;
  padding: 64px 20px;
  border-radius: 16px;
  background-color: var(--color-bg);
  transition: transform var(--transition);
}

.order-modal-backdrop.is-hidden .order-modal-box {
  transform: scale(0.9);
}

.order-modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background: transparent;
}

.order-modal-close:hover,
.order-modal-close:focus {
  color: var(--btn-secondary-bg-hover);
}

.order-modal-title {
  font-family: var(--font-family-secondary);
  margin-bottom: 48px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.order-modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.order-modal-label {
  margin-bottom: 8px;
  font-size: 16px;
}

.order-modal-input,
.order-modal-textarea {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  font-size: 16px;
  outline: none;
  background-color: var(--input-bg-color);
  transition: border-color var(--transition);
}

.order-modal-input:focus,
.order-modal-textarea:focus {
  border-color: var(--input-border-focus);
}

.order-modal-textarea {
  height: 180px;
}

.order-modal-input:not(:placeholder-shown):invalid {
  border-color: var(--input-border-error);
  color: var(--input-text-error);
}
.order-modal-submit {
  display: block;
  width: 100%;
  height: 44px;
  border-radius: 100px;
  background-color: var(--btn-primary-bg-normal);
  font-size: 18px;
  border: 2px solid transparent;
  transition:
    border-color var(--transition) background-color var(--transition),
    transform 100ms ease;
}

.order-modal-submit:hover,
.order-modal-submit:focus-visible {
  border: 2px solid var(--input-border-color);
  background-color: var(--btn-primary-bg-hover);
}

.order-modal-submit:active {
  background-color: var(--btn-primary-bg-active);
}

@media screen and (min-width: 768px) {
  .order-modal-box {
    padding-inline: 32px;
    width: 704px;
  }
  .order-modal-backdrop {
    padding: 32px;
  }
  .order-modal-submit {
    width: 344px;
    margin: 24px auto 0;
  }
}

@media screen and (min-width: 1440px) {
  .order-modal-box {
    padding-inline: 64px;
    width: 768px;
  }
  .order-modal-submit {
    width: 196px;
  }
  .order-modal-title {
    font-size: 46px;
  }
}
