/* =========================
FEEDBACK
========================= */

.feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-title {
    margin-bottom: 24px;

    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.01em;
    line-height: 1.2;
    text-align: center;
}

.feedback-subtitle {
    text-align: center;
    margin-bottom: 40px;
}

/* =========================
SLIDER WRAPPER
========================= */

.feedback-slider-wrapper {
    position: relative;
    width: 100%;
}

/* =========================
SLIDER
========================= */

.feedback-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}


.feedback-slide {
    display: flex;
    box-sizing: border-box;
    height: auto;
}

/* =========================
CARD
========================= */

.feedback-card {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 235px;
    padding: 32px;

    border: 2px solid var(--color-main);
    border-radius: 16px;

    background-color: transparent;
}

/* =========================
TEXT
========================= */

.feedback-text {
    margin-top: 24px;
}

.feedback-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-top: auto;
}

/* =========================
RATING
========================= */

.feedback-rating {
    display: flex;
    width: fit-content;
}

.star-container {
    display: flex;
    gap: 4px;
    margin: 0 !important;
}

.star {
    width: 20px;
    height: 20px;
    fill: var(--color-main) !important;
}

.star__icon {
    width: 100%;
    height: 100%;
    fill: var(--color-main) !important;
}

.star__icon--empty {
    fill: var(--color-main) !important;
}




/* =========================
CONTROLS
========================= */

.feedback-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    margin-top: 24px;
    padding: 0;

    pointer-events: auto;
    z-index: 10;
}

.feedback-button {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    width: 48px;
    height: 48px;

    border: 2px solid var(--slider-arrow-border-normal);
    border-radius: 50%;

    background-color: var(--slider-arrow-bg-normal);

    transition: var(--transition);

    pointer-events: auto;
    z-index: 21;
}

.feedback-button-prev {
    margin-right: 16px;
}

.feedback-button:hover,
.feedback-button:focus-visible {
    background-color: var(--slider-arrow-bg-hover);
}

.feedback-button:active {
    background-color: var(--slider-arrow-bg-active);
}

.feedback-button:disabled,
.feedback-button.swiper-button-disabled {
    cursor: not-allowed;
    color: #a1a1a1;
    pointer-events: none;
    border-color: #a1a1a1;
}

/* =========================
PAGINATION
========================= */

.feedback-pagination {
    --swiper-pagination-color: var(--color-main);
    --swiper-pagination-bullet-inactive-color: rgba(8, 12, 12, 0.2);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    position: static !important;
    overflow: hidden;
    text-align: left;
    margin-top: -25px !important;
    margin-left: -75% !important;
    transform: none !important;
}

.feedback-pagination .swiper-pagination-bullet {
    cursor: pointer;
    transition: background-color var(--transition);
}



/* =========================
TABLET
========================= */

@media screen and (min-width: 768px) {

    /* =========================
    SLIDER WRAPPER
    ========================= */

    .feedback-slider-wrapper {
        overflow: visible;
    }

    /* =========================
     SLIDER
    ========================= */

    .feedback-slider {
        position: relative;

        width: 100%;

        overflow: hidden;
    }

    /* =========================
     CARD
    ========================= */

    .feedback-card {
        height: 233px;
        padding: 16px;
    }

    /* =========================
     CONTROLS
     ========================= */

    .feedback-controls {
        position: absolute;

        left: -30px;
        right: -30px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        pointer-events: none;
        z-index: 10;
    }

    .feedback-button {
        pointer-events: auto;
    }

    /* =========================
     PAGINATION
     ========================= */

    .feedback-pagination {
        position: static !important;
        margin-top: 48px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }   
}

/* =========================
DESKTOP
========================= */

@media screen and (min-width: 1440px) {
    .feedback-title {
        font-size: 48px;
    }

    .feedback-subtitle {
        margin-bottom: 80px;
    }

    .feedback-card {
        min-height: 233px;
        padding: 32px;
    }
}