/* =========================
   FOOTER
========================= */

.footer {
    width: 100%;
    background-color: #9ff1ef;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* =========================
   TOP
========================= */

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    width: 100%;

    padding-top: 48px;
    padding-bottom: 40px;
}

/* =========================
   LOGO
========================= */

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--color-main);
    transition: var(--transition);
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--btn-primary-bg-hover);
    transform: scale(1.1);
}

.footer-logo-icon {
    flex-shrink: 0;

    width: 298px;
    height: 63px;
    margin: 35px 0;
}

.footer-logo-text {
    font-family: var(--font-family-secondary);
    font-size: 24px;
    line-height: 1;
}

/* =========================
   NAVIGATION
========================= */

.footer-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer-nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--link-color-normal);
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}

.footer-nav-link:hover,
.footer-nav-link:focus-visible {
    color: var(--btn-primary-bg-normal);
    text-decoration: underline;
    text-decoration-color: var(--btn-primary-bg-normal);
    text-underline-offset: 9px;
    text-decoration-thickness: 1px;
}

.footer-nav-link:active {
    color: var(--btn-primary-bg-active);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--btn-primary-bg-active);

}
/* =========================
   SOCIALS
========================= */

.footer-socials {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    transition: color 250ms ease;
}

.footer-social-link:hover,
.footer-social-link:focus-visible {
    color: var(--link-color-active);
}

.footer-social-icon {
    display: block;

    width: 32px;
    height: 32px;
}

/* =========================
   BOTTOM
========================= */

.footer-bottom {
    width: 100%;
    padding: 32px 0 48px;
    border-top: 2px solid var(--color-main);
}

.footer-copyright {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

/* =========================
   TABLET
========================= */

@media screen and (min-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding: 40px 0;
    }

    .footer-logo {
        margin: 0;
    }

    .footer-logo-text {
        font-size: 18px;
    }

    .footer-nav-list {
        flex-direction: row;
        gap: 24px;
    }

    .footer-nav-link {
        font-size: 14px;
    }

    .footer-socials {
        gap: 12px;
        margin: 0;
    }

}

/* =========================
   DESKTOP
========================= */

@media screen and (min-width: 1440px) {
    .footer-top {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        gap: 0;

        padding-top: 48px;
        padding-bottom: 32px;
    }

    .footer-logo {
        justify-self: start;
        margin: 0;
    }

    .footer-logo-icon {
        width: 298px;
        height: 63px;
    }

    .footer-logo-text {
        font-size: 24px;
    }

    .footer-nav-list {
        gap: 32px;
    }

    .footer-socials {
        justify-self: end;
        gap: 12px;
        margin: 0;
    }

    .footer-social-link,
    .footer-social-icon {
        width: 24px;
        height: 24px;
    }

    .footer-bottom {
        padding: 32px 0 40px;
    }
}