.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}
.logo-img{
    display: block;
    width: 158px;
    height: auto;
    transition: transform var(--transition);
    
}
.logo{
    display: block;
    color: var(--color-main);
    
}
.logo:hover,
.logo:focus{
    color: var(--btn-primary-bg-hover);
    transform: scale(1.1);
}


.nav{
    display: none;
}
.nav-list{
    display: flex;
    gap: 16px;
}
/*.nav-item{
    height: 72px;
}*/

.nav-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}


.nav-link,
.mob-link {
    
    font-family: var(--font-family-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--link-color-normal);
    text-decoration: none;
    cursor: pointer;
    transition: 
        color var(--transition),
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.mob-link:hover,
.mob-link:focus,
.mob-link:active {
    color: var(--btn-primary-bg-normal);
    text-decoration: underline;
    text-decoration-color: var(--btn-primary-bg-normal);
    text-underline-offset: 9px;
    text-decoration-thickness: 1px;
}
.nav-link:active,
.mob-link:active{
    color: var(--btn-primary-bg-active);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--btn-primary-bg-active);
}
.header-btn{
    display: none;
}

.header-btn,
.header-btn-mob {
    background-color: var(--btn-primary-bg-normal);
    border: 1px solid var(--btn-primary-bg-normal);
    color: var(--btn-primary-text-color);
    border-radius: 100px;
    font-family: var(--font-family-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    transition: 
        background-color var(--transition),
        border-color var(--transition);
}

.header-btn:hover,
.header-btn:focus,
.header-btn-mob:hover,
.header-btn-mob:focus {
    background-color: var(--btn-primary-bg-hover);
    border-color: var(--btn-primary-border-color);
}
.header-btn:active,
.header-btn-mob:active {
    background-color: var(--btn-primary-bg-active);
    border-color: var(--btn-primary-border-color);
}

.mob-menu-open{
  width: 48px;
  height: 48px;
  padding: 12px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-menu-svg {
  width: 24px;
  height: 24px;
  fill: #000;
}

/* Tablet*/
@media screen and (min-width: 768px){
    .mob-menu-open{
        display: none;
    }
    .nav-list{
        position: relative;
    }
 

.header-btn{
    display: inline-flex;
    margin-left: 32px;
    white-space: nowrap;
    padding: 8px 20px;
}
.nav{
    display: flex;
    margin-left: 38px;
    white-space: nowrap;
    align-items: center;
}


.header-nav{
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: auto;
    }
    .headericons-menu{
        display: none;
        
    }
}   

/*Desktop*/
@media screen and (min-width: 1440px) {
    .nav{
        margin-left: auto;
    }
    
    .nav-list{
        gap: 32px;
    }
   
}